
/* resetting all default styles; reformatting*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
    background: #eef;
}


/* setting the general style for the quiz container */
#quiz-container {
    width: 100vw;
    height: 100vh;
    max-width: 80%;
    margin: auto;

    display: flex;
    
    flex-direction: column;

    align-items: center;
    justify-content: center;
}



/* working on the start quiz button */
#quiz-container #initiate {
    padding: 1.5em;
    border: none;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 700;
    background-color: #555;
    color: #abb;

    cursor: pointer;
}
#quiz-container #initiate:hover {
    background: #444;
}
#quiz-container #initiate:active{
    background: #333;
}


/* all of the remaining will be added based on the elements the js will generate */

/* question Element */
.questionElement {
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 1.25em;
}

/* answer element */
.answerElement {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.options {
    display: none; 
}
.optionsText {
    margin: .5em 0 .5em 2em;
    border: 1px solid black;
    padding: 1em;
    border: none;
    border-radius: 1.5em;
    background-color: #dde;
    overflow-wrap: anywhere;
}
.optionsText:hover {
    opacity: .7;
}
.optionsText:has(.options:checked) {
    background-color: #888;
}


/* controls element */
.controlsElement {
    width: 100%;
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
}
.controlsElement button{
    padding: .7em 1em;
    font-size: 2em;
    border-radius: .3em;
    background-color: #dde;
}
.navigationElement {
    display: flex;
    justify-content: space-between;
}
.navigationElement button {
    padding: .7em 1em;
    font-size: 2em;
    border-radius: 20%;
    background-color: #dde;
    color: #333;    
}
.navigationElement button:hover {
    opacity: 0.7;
}
.navigationElement button:active {
    opacity: .95;
}

.submitBtn {
    width: 3em;
    border-radius: 20px;
    position: relative;
    margin-top: 1em;
    left: 100%;
    transform: translateX(-100%);
}
.submitBtn:hover {
    opacity: 0.7;
}
.submitBtn:active {
    opacity: 0.95;
}

/* the show score screen */
.restartBtn {
    padding: 1.5em;
    border: none;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 700;
    background-color: #555;
    color: #abb;
    margin-top: 2em;

    cursor: pointer;
}
.restartBtn:hover{
    background-color: #444;
}
.restartBtn:active{
    background-color: #333;
}